/* home */
body {
  margin-bottom: 0;
  color: #C8ACD6;
  box-sizing: border-box;
}

/* navbar sesion */
.navbar {
  background-color: #17153B;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-brand {
  font-family: "Caveat", cursive;
  font-size: 1.8rem;
  letter-spacing: 5px;
  color: lightblue;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-collapse.collapse.show {
  display: flex !important;
  justify-content: center;
}

.navbar-nav {
  margin: auto;
  text-align: center;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Poppins", sans-serif;
}

/* Container utama */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  position: relative; /* Agar overlay tetap berada di atas video */
}

/* Video styling */
.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Overlay styling */
.banner-overlay {
  color: white;
  text-align: center;
  padding: 0 1.5rem; 
  background: rgba(0, 0, 0, 0.1); 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box; 
}

.banner-overlay .kotak {
  background-color: rgba(46, 35, 108, 0.5);
}

.banner-overlay .neon {
  padding: 20px 42px;
}


.banner h3,
.banner p {
  margin: 0;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  font-family: "comic sans ms]";
}

.banner h3 {
  animation-delay: 0.5s;
  font-size: 2rem; /* Ubah sesuai kebutuhan */
}

.banner p {
  animation-delay: 1s;
  letter-spacing: 3px;
}

.setgap {
  background-color: #17153B;
  padding: 16px 0px;
}

.serda {
  background-color: #17153B;
  padding: 14px ;
 
}
/* about sesion */
.about {
  background-color: #433D8B;
}

.about .text {
  padding: 5px 24px;
}

.about .kartu {
  background-color: #2E236C;
}

.amet {
  color: #C8ACD6;
  letter-spacing: 2px;
}
/* service sesion */
.service {
  background-color: #433D8B;
}

.service .container .row .col-md-6 .service-card {
  background-color: #2E236C; 
}

/* projek sesion */
.projek {
  background-color: #433D8B;
}

/* studies sesion */
.studies {
  background-color: #433D8B;
}

.studies .container .row .fr .card {
  background-color: #2E236C;
}

.btn {
  background-color: #C8ACD6;
   color: #2E236C;
}

.btn:hover {
  background-color: #554C99;
  color: #FFFFFF;
}

/* team sesion */
.team {
  background-color: #433D8B;
}

.team .container .row .card {
  background-color: #2E236C;
}

/*client sesion */
.testimonial {
  background-color: #433D8B;
}

.testimonial .card {
  background-color: #2E236C;
}

/* carir sesion */
.carir {
  background-color: #433D8B;
}

details {
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

details summary {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: #2E236C;
  color:  #9A86B1;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  outline: none;
}

details summary:hover {
  background-color: #9A86B1;
  color: #dddd;
}

details[open] {
  background-color:  #6A5ACD;
}


details p {
  font-size: 16px;
  color: #eaeaeaea;
  margin-top: 10px;
  padding: 10px;
}

.testimonial .container .row .card .card-img-top {
  width: 100px;
  height: 100px;
}

/* blog sesion  */
.blogg {
  background-color: #433D8B;
}

.blogg .card {
  background-color: #2E236C;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* projek */
.carousel-inner .carousel-item img {
  width: 100%;
  max-height: 10%;
  padding: 20px;
}


.carousel {
  max-width: 60%;
  margin: 0 auto;
}

.carousel-caption {
  background-color: #eaeaeaea;
  border-radius: 18px;
  padding: 10px;
  margin-bottom: 16px;
}

/* contact sesion */
.contact {
  background-color: #433D8B;
}

.contact .container .row {
  background-color: #2E236C;
}

/* Gaya untuk form di dalam card */
.card .form-group input,
.card .form-group textarea,
.card .form-group select {
  background-color: #433D8B;
  color: #eaeaeeae;
  border: 1px solid #C8ACD6;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.card .form-group input:focus,
.card .form-group textarea:focus,
.card .form-group select:focus {
  border-color: #6777ef;
  outline: none;
  background-color:  #9A86B1;
}

/* faq sesion */
.faq {
  background-color: #433D8B;
}

.faq .accordion {
  color: #eaeaea;
}

.faq .accordion .accordion-item .accordion-header .accordion-button {
  background-color:  #2E236C;
  color: #C8ACD6;
}

.faq .accordion .accordion-item .accordion-header .accordion-button:hover {
  background-color: #A78EB6;
  color:  #17153B;
  border: 1px solid #ffff;

}

.faq .accordion .accordion-item .accordion-body {
  background-color: #433D8B;
}

footer {
 background-color: #17153B;
 color: #C8ACD6;
}

/* responaif mobile */
@media (max-width: 679px) {
  .navbar-brand {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }

 .banner {
  height: 72vh;
 }

 .banner video {
  height: 72vh;
 }

  .section-padding .container .title {
    font-size: 16px;
  }

  .banner h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .banner-overlay {
    margin-top: 90px;
  }

  .banner-overlay .neon {
    padding: 14px 24px;
  }

  .banner .font-hom {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .about .container .wakwaw  {
    padding: 0px 5px;
    margin: 0px 4px;
  }

  .about .text {
    padding: 4px 14px;
    text-align: center;
  }

  .about .container .slebew  {
    padding: 0px 8px;
    margin: 0px 20px;
  }


  .titles {
    font-size: 12px;
  }

  .studies .container .row .card-body .btn {
    font-size: 12px;
    padding: 8px;
  }

  .section-padding .container p {
    font-size: 14px;
  }

  .img-ceo {
    width: 180px;
    height: 200px;
  }

  .carousel {
    max-width: 80%;
  }

  .accordion .accordion-item .accordion-button {
    font-size: 12px;
  }

  .accordion-body strong,
  code {
    font-size: 10px;
  }

  .title {
    font-size: 15px;
  }

  .service .container .row .service-card p {
    font-size: 10px;
  }

  .service .container .row .col-md-6 {
    padding: 3px 50px;
  }

  .studies .container .row .card-body .card-text {
    font-size: 12px;
  }

  .tim .container .row {
    padding: 8px 50px;
  }

  .tim .container .row .col-lg-4 .card .card-body .tx {
    font-size: 12px;
    line-height: 1rem;
  }

  .card-body .card-title {
    font-size: 16px;
  }

  .studies .container .row .fr {
    padding: 20px 30px 20px 30px;
  }

  .studies .container .row .card-img-top {
    max-height: 390px;
    padding: 20px 22px;
  }

  .testimonial .container .row {
    padding: 5px 50px;
  }

  .testimonial .container .row .card .card-img-top {
    width: 60px;
    height: 60px;
    padding: 0px;
  }

  .testimonial .container .row .card .card-body .card-title {
    font-size: 15px;
  }

  .testimonial .container .row .card .card-body p {
    font-size: 13px;
  }

  .blogg .container .row .col-md-4 .card .card-body .btn {
    font-size: 10px;
  }

  .blogg .container .row .col-md-4 {
    padding: 16px 50px;
  }

  .blogg .container .titles {
    font-size: 14px;
  }

  .contact .container .row {
    margin: 10px 30px;
  }

  p {
    font-size: 0.8rem;
  }

  .faq .container .accordion {
    padding: 4px 50px;
  }

  .faq .container .accordion .accordion-collapse .accordion-body {
    font-size: 12px;
  }

  details summary {
    font-size: 14px;
  }

  .ter .row {
    padding: 0px 60px;
  }

  .ter .faq-highlights .cuy .btn {
    font-size: 10px;
  }

  .footer-tex {
    font-size: 14px;
  }

  .footer-deks {
    font-size: 16px;
  }
}

/* tablet responsif */
@media (min-width: 680px) and (max-width: 990px) {
  .title {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  .banner {
    height: 88vh;
  }

  .banner video {
    height: 88vh;
  }

  .banner-overlay {
    margin-top: 82px;
  }

  .banner .font-hom {
    font-size: 15px;
 
  }

  .about .container .row .img-ceo {
    padding: 20px 40px;
  }

  .lead {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
  strong,
  code {
    font-size: 14px;
  }

  .card-body .card-text {
    font-size: 14px;
  }

  .card-body .card-title {
    font-size: 16px;
  }

  .carousel {
    max-width: 90%;
  }

  .studies .container .row {
    padding: 8px 50px;
  }

  .studies .container .row .fr {
    margin: 30px 0px;
  }

  .studies .container .row .card-img-top {
    padding: 8px 48px 5px 48px;
  }

  .blogg .title {
    font-size: 22px;
  }
  .blogg .row .card .title {
    font-size: 14px;
  }

  .blogg .row .card .card-body .card-text {
    font-size: 12px;
  }

  .titles {
    font-size: 1rem;
  }

  .faq .container .accordion .accordion-collapse .accordion-body {
    font-size: 12px;
  }

  .ter .row {
    padding: 0px 30px;
  }
}

/* responsif dekstrop */
@media (min-width: 991px) {
  .testimonial {
    overflow: hidden;
  }

  .testimonial .container .row .card .card-body .card-title {
    font-size: 16px;
  }

  .testimonial .container .row .card .card-body p {
    font-size: 15px;
  }

  .banner .font-hom {
    font-size: 1.4rem;
  }
}
